.addTaskContainer {
  margin-bottom: 25px;
}

.inputGroup {
  display: flex;
  margin-bottom: 5px;
}

.input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.addButton {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #0056b3;
}

.addDescriptionButton {
  background-color: transparent;
  color: #555;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.9em;
  margin-top: 5px;
  transition: color 0.3s ease;
}

.addDescriptionButton:hover {
  color: #000;
}

.descriptionInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
  resize: vertical;
}

.error {
  color: #dc3545;
  font-size: 0.8em;
  margin-top: 5px;
}