.taskItem {
  display: flex;
  flex-direction: column; /* Mantenemos la disposición de columna */
  padding: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  word-break: break-word; /* Añadimos esta propiedad */
}

.taskItem:last-child {
  border-bottom: none;
}

.taskHeader {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.checkbox {
  margin-right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.taskText {
  flex-grow: 1;
  font-weight: bold;
}

.createdAt {
  color: #aaa;
  font-size: 0.8em;
  margin-left: auto;
}

.taskDescriptionContainer {
  margin-bottom: 8px;
}

.taskDescriptionShort {
  color: #777;
  font-size: 0.9em;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.taskDescriptionFull {
  color: #555;
  font-size: 0.9em;
  white-space: pre-wrap; /* Mantenemos para respetar saltos de línea */
  word-break: break-word; /* Añadimos esta propiedad importante */
}

.deleteButton {
  background-color: transparent;
  color: #dc3545;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.3s ease;
  align-self: flex-end;
  margin-top: 10px;
}

.deleteButton:hover {
  color: #c82333;
}